body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-image: url("background.png");
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: aliceblue;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border: 1px solid black;
    box-shadow: 2px 4px 12px #888888;
    
}

input, select {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register,
 .graphButton, .historyButton, .viewAddToggle,
 .submitHours, .editButtons {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}
p, h3, h4, h5 {
    width: 50%; 
    margin-left: 75px;
}


.log-in:hover, .log-out:hover, 
.register:hover, .graphButton:hover, 
.historyButton:hover, .viewAddToggle:hover,
.submitHours:hover, .editButtons:hover {
  background-color: #008183;
}

.viewAddToggle {
    margin-left: 100px;
    margin-bottom: 25px;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.defaultsTable, tr {
     margin-left: 75px;
     margin-right: 75px;
     width: 90%;
     height: 50px;
     border: 1px solid black;
     border-collapse: collapse;
     text-align: center;
     background-color: aliceblue;
      box-shadow: 2px 4px 12px #888888;
}

.historyTable, tr {
     margin-left: 75px;
     margin-right: 75px;
     width: 90%;
     height: 50px;
     border: 1px solid black;
     border-collapse: collapse;
     text-align: center;
     table-layout: fixed;
     background-color: aliceblue;
}

.addForm {
     margin-left: 75px;
     margin-right: 75px;
     width: 90%;
     height: 50px;
     border: 1px solid black;
     border-collapse: collapse;
     text-align: center;
     background-color: aliceblue;

}
