.nav-title {
  margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #95A5A6;
  border-bottom: 2px solid #444; 
}

.nav-link {
  float: left;
  margin-top: 10px;
  color: #283747 ;
  font-weight: bold;
  background-color: #95A5A6;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  color: #f2f2f2;
  background-color: #5D6D7E;
}

.nav-right {
  float: right;
}